<div class="seccionBusquedaArticulos">
  <div class="busquedaDeInformacionSobreMasc">Localizar Veterinarias</div>
  <div class="bG3">
  <mat-form-field class="example-full-width">
    <mat-label>Number</mat-label>
    <input type="text"
           placeholder="Pick one"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      @for (option of options; track option) {
        <mat-option [value]="option">{{option}}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
    <div class="inputSelectWithLabelCopy">
      <div class="input2">
        <div class="bGMain"></div>
        <div class="bGBorder2"></div>
        <div class="selectName">Distrito</div>
      </div>
    </div>
    <div class="buttonSolidStyle4">
      <button class="button1">
        <div class="rectangle2"></div>
        <div class="buttonName2">Buscar</div>
      </button>
    </div>
  </div>
  <app-search-clinic-map></app-search-clinic-map>
</div>

