<div class="inicioBuscarArticulos">
  <div class="bG"></div>
  <button class="button3" (click)="scrollToBottom()">
    <div class="rectangle"></div>
    <div class="buttonName">Empezar a buscar articulos</div>
  </button>
  <div class="ellipse15"><img src="ellipse-15-icon.svg" alt="" class="icon" /></div>
  <div class="deberSaberQueTuMascotaNecesita">
    <div class="textBlock">Deber saber que tu mascota necesita cuidados dependiendo de su</div>
    <div class="textBlock2"><p></p></div>
    <div class="textBlock3">raza, edad, peso y tamaño. Por eso te ofrecemos información para</div>
    <div class="textBlock4"><p></p></div>
    <div class="textBlock5">que la vida de tu mascota sea más felíz y comoda.</div>
  </div>
  <div class="teOfrecemosInformacionSobreTuM">
    <div class="textBlock6">Te ofrecemos información</div>
    <div class="textBlock7"><p></p></div>
    <div class="textBlock10">sobre tu mascota</div>
    <div class="textBlock11"><p></p></div>
  </div>
</div>
<div class="seccionBusquedaArticulos">
  <div class="bG2"></div>
  <div class="bG4">
    <div class="favorito3"><img src="favorito-3-icon.svg" alt="" class="icon2" /></div>
    <div class="respiracionEnLosPerrosLasRazas">
      <div class="textBlock12">Respiracion en los perros: Las razas que más les cuesta</div>
      <div class="textBlock13"><p></p></div>
    </div>
    <div class="favorito2"><img src="favorito-2-icon.svg" alt="" class="icon3" /></div>
    <div class="carlinosParaDepartamentosLaRaz">Carlinos para departamentos: La raza ideal?</div>
    <div class="favorito1"><img src="favorito-1-icon.svg" alt="" class="icon4" /></div>
    <div class="laRazaPugLindosPeroEnfermizos">
      <div class="textBlock14">La raza pug: Lindos pero enfermizos</div>
      <div class="textBlock15"><p></p></div>
    </div>
  </div>
  <div class="bG3"></div>
  <div class="buttonSolidStyle4">
    <button class="button1" (click)="onSearch()">
      <div class="rectangle2"></div>
      <div class="buttonName2">Buscar</div>
    </button>
  </div>
  <label class="inputSelectWithLabel">
    <div class="input">
      <input type="text" class="bGSolid" [(ngModel)]="inputText" placeholder="Buscar artículo..."/>
      <div class="bGBorder"></div>
    </div>
  </label>

  <label class="inputSelectWithLabelCopy">
    <div class="input2">
      <input type="text" class="bGMain" [(ngModel)]="petType" placeholder="Tipo de mascota" />
      <div class="bGBorder2"></div>
    </div>
  </label>
  <div id="Redireccion" class="busquedaDeInformacionSobreMasc">Búsqueda de información sobre mascotas</div>
</div>
<div class="Main"></div>
