<div class="sectionStart">
  <div class="bg3"></div>
  <div class="startImage"><img src="start-image-icon.svg" alt="" class="icon" /></div>
  <div class="titlesAndButtons">
    <div class="text">
      <div class="entiendoTuPreocupacionPorTuMas">
        <div class="textBlock">Entiendo tu preocupación por tu mascota</div>
        <div class="textBlock2">
          <p class="labelWrapper"><span class="label">Estoy aquí para apoyarte en lo que necesites</span></p>
        </div>
      </div>
      <div class="teOfrecemosConsultasVeterinari">
        Te ofrecemos Consultas veterinarias las 24horas cerca de tu ubicación o si prefieres en chat
      </div>
    </div>
    <button class="button1">
      <div class="rectangle"></div>
      <div class="buttonName">Consultas Veterinarias</div>
    </button>
    <button class="button2">
      <div class="rectangle2"></div>
      <div class="buttonName2">Chat</div>
    </button>
  </div>
  <div class="header">
    <div class="petWellness_LOGO"><img src="petWellness_LOGO.png" alt="" class="icon2" /></div>
    <div class="logo"></div>
    <div class="headerMenu">
      <div class="menu"></div>
      <div class="menu2"><div class="accederAInformacion">Acceder a información</div></div>
      <div class="menu3"><div class="localizarClinicasCercanas">Localizar clinicas cercanas</div></div>
    </div>
    <div class="component1">
      <div class="signOut"><div class="cerrarSesion">Cerrar sesión</div></div>
    </div>
    <div class="oval"><img src="oval-icon.svg" alt="" class="icon2" /></div>
  </div>
</div>
<div class="sectionsSearchBars">
  <div class="bg2"></div>
  <div class="bG"></div>
  <div class="buttonCancelar">
    <button class="buttonCancel">
      <div class="rectangle3"></div>
      <div class="buttonName3">Cancelar</div>
    </button>
  </div>
  <div class="dropdownMenu">
    <div class="input">
      <div class="bGMain"></div>
      <div class="bGBorder"></div>
      <div class="selectName">Seleccionar consulta</div>
      <div class="iconsDropdownSolid"><img src="icons-dropdown-solid-icon.svg" alt="" class="icon3" /></div>
    </div>
  </div>
  <div class="cancelarUnaCitaConsultaVeterin">Cancelar una Cita/Consulta veterinaria</div>
  <div class="bG2"></div>
  <div class="buttonModificar">
    <button class="buttonModifie">
      <div class="rectangle4"></div>
      <div class="buttonName4">Modificar</div>
    </button>
  </div>
  <div class="dropdownMenuHoraNueva">
    <div class="input2">
      <div class="bGMain2"></div>
      <div class="bGBorder2"></div>
      <div class="selectName2">Nueva hora</div>
      <div class="iconsDropdownSolid2"><img src="icons-dropdown-solid-icon2.svg" alt="" class="icon4" /></div>
    </div>
  </div>
  <div class="dropdownMenuConsulta">
    <div class="input3">
      <div class="bGMain3"></div>
      <div class="bGBorder3"></div>
      <div class="selectName3">Seleccionar consulta</div>
      <div class="iconsDropdownSolid3"><img src="icons-dropdown-solid-icon3.svg" alt="" class="icon5" /></div>
    </div>
  </div>
  <div class="modificarHoraDeUnaCitaConsulta">Modificar hora de una Cita/Consulta veterinaria</div>
  <div class="bG3"></div>
  <div class="buttonReservar">
    <button class="buttonReserve">
      <div class="rectangle5"></div>
      <div class="buttonName5">Reservar</div>
    </button>
  </div>
  <div class="inputLabel">
    <div class="input4">
      <div class="bGSolid"></div>
      <div class="bGBorder4"></div>
      <div class="inputName">Nombre de veterinario o clinica</div>
    </div>
  </div>
  <div class="dropdownMenu2">
    <div class="input5">
      <div class="bGMain4"></div>
      <div class="bGBorder5"></div>
      <div class="selectName4">Hora</div>
      <div class="iconsDropdownSolid4"><img src="icons-dropdown-solid-icon4.svg" alt="" class="icon6" /></div>
    </div>
  </div>
  <div class="reservaUnaCitaConsultaVeterina">Reserva una Cita/Consulta veterinaria</div>
</div>
<div class="sectionOnlineChat">
  <div class="bg1"></div>
  <div class="messages">
    <div class="chatEnVivo">Chat en vivo</div>
    <div class="backToTheStart"><img src="back-to-the-start-icon.svg" alt="" class="icon7" /></div>
    <div class="rectangle9"></div>
    <div class="holaEsteEsUnMensajeAutomaticoE">
      <div class="textBlock3">
        Hola! este es un mensaje automatico, en unos momentos atenderé tu consulta con gusto, ve dejandome tu consulta
        por el chat
      </div>
      <div class="textBlock4">y responderé enseguida.</div>
    </div>
    <div class="draCeciliaPerez">Dra. Cecilia Perez</div>
    <div class="rectangle28"></div>
    <div class="frame"><img src="frame-icon.svg" alt="" class="icon8" /></div>
    <div class="ellipse45"><img src="ellipse-45-icon.svg" alt="" class="icon9" /></div>
    <div class="ellipse46"><img src="ellipse-46-icon.svg" alt="" class="icon10" /></div>
    <div class="frame2"><img src="frame-icon2.svg" alt="" class="icon11" /></div>
    <div class="frame3"><img src="frame-icon3.svg" alt="" class="icon12" /></div>
    <div class="sentimentVerySatisfied">
      <img src="sentiment-very-satisfied-icon.svg" alt="" class="icon13" />
    </div>
    <div class="escribir">Escribir...</div>
  </div>
</div>
<div class="sectionVideoCalls">
  <div class="bg4"><img src="bg4-icon.svg" alt="" class="icon14" /></div>
  <div class="atenderCitasConsultasViaVideol">Atender Citas-consultas via videollamada</div>
  <div class="cuadroVideoLlamada"></div>
</div>
